# OS Things
*.swp
*/*.swp
*/*/*.swp
.thumbnails

# mac desktop files
.DS_Store
*/.DS_Store
*/*/.DS_Store

# editor things
.idea

# setup things
build/*
dist/*
capcalc.egg-info/*

# the git version itself
capcalc/_gittag.py

# big data
capcalc/data/output/*

# cache
.cache
__pycache__
capcalc/*.pyc

# temporary manual files
docs/~$Manual.html
docs/Manual.fld

# notes to myself
files.txt

# files for local testing

# temporary items
VERSION
